<!DOCTYPE html>
<html>
    <head>
        <title>Camp Site</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/styles/landing.css">   
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    <div id="landing-header">
        <div class="jumbotron text-center">
            <h1 class ="text-info">PHCamps</h1>
            <p >This page show you some campsites around the Philippines</p>
            <p >Without Further redo, let's get started.</p>
            <a class="btn btn-lg" href="/campGrounds" role="button">Proceed</a>
        </div>
        
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>




 
<%- include('partials/footer') %>